.header-container {
  height: 800px;
  position: relative;
  background-size: cover;
}

.header-container::after {
  height: 300px;
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  background-color: #fbd062;
  z-index: -5;
}
