.header-bg {
  height: 834.53px;
  background: #fbd062;
  /* background-position: center center;
  background-size: cover; */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 93%);
}

@media only screen and (max-width: 500px) {
  main {
    height: 1000px;
  }
}
